.hideMe{
visibility: hidden;
}


/*All the contents of the slpash Screen*/
.splashscreen{
  height: 100%;
  width: auto;
  background: url('../img/bg.jpg')  center center no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -110px;

}

.bg::before{
  content: " ";
  width: 100%;
}

.grad1{
  height: 100vh;
  width: auto;
  background: linear-gradient(to bottom,rgba(121, 23, 23, 0.67),rgba(34, 57, 15, 0),rgba(34, 57, 15, 0));;
  width: 100%;

}

.grad2{
  height: 100vh;
  width: auto;
  background: linear-gradient(to top,rgba(121, 23, 23, 0.52),rgba(34, 57, 15, 0),rgba(34, 57, 15, 0));;
  width: 100%;
}

#quote{
  margin-top: 140px;
}

.quo,.auth{
  text-align: center;
  padding: 15px;
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 27px;
}

.icon {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.icon a {
  margin: auto;
  color: white;
  transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
}

.icon a:hover{
  transform: scale(1.1) translateY(5px);
  cursor: pointer;
}

.fixed{
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
}

.giveStructure{
  height: 3383px;
}

/*Update section Styling Starts here*/
