*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  max-width: 1100px;
  margin: auto;
  position: relative;
}

header{
  background: #cc4949;
  position: fixed;
  z-index: 11;
  width: 100%;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.22);
}

.hide{
  top: -1000px;
  transition: top .3s ease-in-out;
}


h1
{
  font-family: open sans, sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 25px;
  font-weight: 300;
}

nav{
  box-shadow: 2px 2px 1px  rgba(0,0,0,0.13);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

nav ul{
  display: flex;
  max-width: 1100px;
  margin: auto;
}

nav ul li{
  display: inline;
  flex: 1;
  text-align: center;
  padding:17px;
  font-family: open sans;
  font-size: 17px;
}
nav ul li a{
  color: black;
  text-decoration: none;
}

#updates{
  background:#ecf0f1;
  height: 100vh;
  width: 100%;
}

#updatesBG{
  background: #bdc3c7;
  height: 30vh;
  margin-top: 18vh;
}

#hideme{
  visibility: hidden;
}

.headings{
  text-align: center;
  font-family: open sans;
  color: white;
  padding: 20px;
  font-size: 25px;
  font-weight: 400;
}

#notices,#whatsNew{
  display: inline-block;
  width: 45%;
  position: relative;
  bottom: 18vh;
  height: 60vh;
  background: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.13);
}

#whatsNew{
  margin-left: 9.6%;
}

#headings{
  display: inline-block;

}

h3{
  padding: 15px;
  text-align: center;
  font-family: open sans;
  background: #cc4949;
  color: white;
  letter-spacing: 1.5px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.13);
}

.hover-arrow{
  transition: .2s;
}

.hover-div{
  transition: .2s;
}

.hover-div:hover{
  box-shadow: 0px 6px 1px rgba(0,0,0,0.13);
    transform: scale(1.01);
}

.hover-div:hover > .hover-arrow {
  transform: scale(1.1);
  cursor: pointer;
  transform: translateX(5px);
}


/*
.hover-arrow:hover{
  font-weight: 100;
  transform: scale(1.1);
  cursor: pointer;
  transform: translateX(5px);
}*/

#events{
  width: 100%;
  height: 100vh;
  background: #ecf6ff;
}

#eventsBG{
  background: #6581a6;
  height: 30vh;
  margin-top: 12vh;
}

#latestEvent{
  height: 55vh;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  background: url('../img/eventsBg.jpg') center center;
  background-size: cover;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.45), inset 0px -20px 350px 13px rgba(0, 0, 0, 0.58);
  position: relative;
  transition: .2s ease-in-out;
}

#latestEvent:hover{
  box-shadow: 7px 5px 56px rgba(0, 0, 0, 0.6), inset 0px -20px 20px 13px rgba(0, 0, 0, 0);
}

#hd-le-1{
  font-family: open sans;
  color: white;
  padding: 10px 0 0 10px;
}
#hor-le-1{
  margin-left: 10px;
    width: 139px;
    height: 3px;
    border: 0;
    background: white;

}

#hd-le-2{
  position: absolute;
  bottom: 39px;
  font-family: open sans;
  color: white;
  padding: 10px 0 0 10px;
  font-size: 26px;
}

#hor-le-2{
  position: absolute;
bottom: 37px;
  margin-left: 10px;
  width: 168px;
  height: 3px;
  border: 0;
  background: white;
}

#latestEvent h4{
  position: absolute;
bottom: 12px;
font-family: open sans;
color: white;
padding: 10px 0 0 10px;
font-size: 17px;
font-weight: 100;
letter-spacing: 0px;
}

#button{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 25vh;
  right: -10vh;
  border-radius: 100%;
  background: white;
}

#buttonIcon{
  padding: 17px;
  color: #6581a6;
  border-radius: 100%;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.47);
  cursor: pointer;
  transition: .2s;
}

#buttonIcon:hover{
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.47);
}

#buttonIcon:active{
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.47);
}

#location{
  width: 100%;
  height: 100vh;
  background: #e4f9f3;
}

#locationBG{
  background: #609687;
  height: 30vh;
  margin-top: 12vh;
}

#map{
  height: 60vh;
  width: 100%;
  margin-top: 5vh;
  border: 0;
  box-shadow: 1px 2px 6px 0px #00000047;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.33);
}

.social-hd,.social-hd-tw,.social-hd-fb{
  text-align: center;
  font-family: open sans;
  color: #f9f9f9;
  background: #db6eff;
  padding: 27px 0;
  font-size: 28px;
  font-weight: 100;
  height: 30vh;
}
.insta-content,.twitter-content{
  height: 44vh;
  background: #ca2bff;
  display: inline-block;
  width: 24%;
  position: relative;
  top: -18vh;
}

#social{
  width: 100%;
  height: 200vh;
  background: #cac6de;
}

.twitter-content{
  background: #1da1f2;
}

.social-hd-tw{
  background: #8bc1e2;
}


#about-heading{
  font-family: open sans;
  text-align: center;
  margin: 0 auto;
  margin-top: 9vh;
  font-size: 1.5em;
}

#aboutPara{
  font-family: open sans;
    font-size: 15px;
    max-width: 115vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 3vh;
}

#aboutBg{
  height: 67vh;
box-shadow: 0 0 0 1px black;
width: 123vh;
margin: 0 auto;
margin-top: 3vh;
background: url('../img/bg.jpg') center center;
background-size: cover;
    position: relative;
        top: -30vh;
}

#about-section{
  height: 100vh;

}

#hd-au-1{
  color: white;
    font-family: open sans;
    position: absolute;
    bottom: 11vh;
    text-align: center;
    width: 100%;
    font-size: 9vh;
}

#hor-au-1{
  border: 0;
  background: white;
  position: absolute;
  bottom: 11vh;
  margin-left: 40vh;
  width: 44vh;
  height: 5px;
}

#hd-au-2{
  color: white;
  font-family: open sans;
  position: absolute;
  bottom: 2vh;
  text-align: center;
  width: 100%;
  font-size: 6vh;
}

#container-social{
  background: blue;
    height: 58vh;
    padding: 1px;

}
